
# OR only to exclude workspace cache
.obsidian/workspace/*
.obsidian/workspace.json

# Exclude Day Planner directory placed in vault root
Day*Planners/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data


# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

