<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IMC</title>        
    </head>
    <body>
    
        <p> Peso: {{peso}}</p>
        <p> Altura: {{altura}}</p>
        
    </body>
</html>
