<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IMC</title>        
    </head>
    <body>
    
		<p>Equipo n: {{id}} </p>
		<p>Nombre: {{nombre}} </p>
        
    </body>
</html>
