<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IMC</title>        
    </head>
    <body>
    
        <form action="{{ path('mostrarDatosEquipo')}}" method="post">
            Equipo: <input name="equipo" type="number"> <br>
            <input type="submit" value="buscar">
        </form>
        
    </body>
</html>
