<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Factorial</title>        
    </head>
    <body>

        {{temp}}

        Pulsa <a href="{{ path('celsius',    ({'num':temp })) }}">aquí</a> para calcularlo en Farenheit.
        Pulsa <a href="{{ path('fahrenheit', ({'num':temp })) }}">aquí</a> para calcularlo en Celsius.
        
    </body>
</html>
