<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Factorial</title>        
    </head>
    <body>
        {% if resultado > 0 %}
		    <p> El factorial de {{num}} es {{resultado}} </p>
        {% else %}
            <p>Error generico</p>
        {% endif %}
    
        
    </body>
</html>
