<html>
<head><title>Portal Médico</title></head>
<body>
    {% if error %}
        <div>{# Descomenta si necesitas depurar, te dará información del fallo que hay si no loguea
         error.message|trans(error.messageData, 'security') #}
         ¡Vaya! Las credenciales están mal.
         </div>
    {% endif %}

	{% if success %}
		<div>
			¡Contraseña cambiada con éxito!
		</div>
	{% endif %}

	Cambiar contraseña a {{ app.user.usuario }};
	
    <form action="{{ path('password_change') }}" method="post">
        <label for="password">new password:</label>
        <input type="password" id="password" name="_new_password">
        
        <button type="submit">cambiar</button>
    </form>
</body>
</html>
