/* .markdown-source-view */
.title-input {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 1.5em !important;
    color: aqua !important;
    background-color: blue !important;
}
.markdown-preview-view h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 1.5em !important;
}
.markdown-preview-view h2 {
    font-size: x-large;
    font-weight: bolder;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
    margin-left: 0.5em !important;
}
.markdown-preview-view h3 {
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
    margin-top:    1em !important;
    margin-bottom: -0.5em !important;
}
.markdown-preview-view p {
    margin-top:    1em;
    margin-bottom: 1em;
}

.markdown-preview-view .mostrarhorizontal {
    border: 1px blue solid;
}
