mark {
    text-decoration: underline !important;
    background-color: #0000 !important;
}
.cm-s-obsidian span.cm-highlight {
    text-decoration: underline !important;
    background-color: #0000 !important;
}