.videosboyTable{
    border: 2px solid !important;
}
.videosboyTable th{
    border: 1px solid;
    padding: 5px !important;
}
.videosboyTable td{
    border: 1px solid;
    padding: 5px !important;
}