{# templates/security/logout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Aplicación de pedidos, logout</title>
	</head>
	<body>
		Ha cerrado su sesión con éxito.
		<a href = {{ url('login') }}>Login</a>
	</body>
</html>
