
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Saludo</title>        
    </head>
    <body>
        Hola {{ nombre }},<br>
        Pulsa <a href="{{ path('tab') }}">aquí</a> para ver una tabla muy interesante.
    </body>
</html>
